.titulo-regis{
  display: flex;
  justify-content: center;
}

.regis{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  background: linear-gradient(
    rgba(0, 0, 255, 0.54),
    white,
    rgba(0, 0, 255, 0.54)
  );
}

#btnAdmi{
  display: flex;
  justify-content: right;
}

#reg{
  
  background-color: white;
  border-radius: 0.7rem;
  border-top: solid 2px gainsboro;
  width: 30rem;
  height: auto;
  padding: 2%;
  margin: 2% 5%;
}

#direccion{
  margin: 1.3rem 0 0.7rem 0;
}

#lapiz {
  color: lime;
  font-size: 1.3rem;
}
#papel{
  color: red;
  font-size: 1.3rem;
}

@media (max-width:768px) {
  .regis{
    height: 100%; 
    margin: 2%;

  }
}